<nav class="navbar">
  <div class="navbar-brand">
    <i class="fa-solid fa-graduation-cap" aria-hidden="true"></i>
    Campus Ideas
  </div>
  <div class="navbar-menu">
    <a routerLink="/home" routerLinkActive="active" class="nav-link">
      <i class="fa-solid fa-house" aria-hidden="true"></i>
      Accueil
    </a>
    <a routerLink="/suggestions" routerLinkActive="active" class="nav-link">
      <i class="fa-solid fa-list-check" aria-hidden="true"></i>
      Suggestions
    </a>
  </div>
</nav>
